.logo-svg {
  width: 102px;
  height: 32px;
  display: block;
  color: aqua;
}
.logo-warper{
  padding-right: 80px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top:0;
    z-index: 999;
}
.navbar-bg{
  background-color: white;
}