.button-search {
  border-radius: 90px;
  height: 48px;
  background-color: white;
}

.AwesomeIcon-search-wraper {
  height: 32px;
  width: 32px;
  background-color: #ff385c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.button-search-text {
  padding-left: 20px;
}
