.navbar-top {
  height: 162px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}

.navbar {
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.navbar-clear-bg {
  background: none;
}

.col-4 {
  display: flex;
  justify-content: center;
}


.headerbar-row2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menuButton-more-height {
  height: 64px !important;
}

.button-hover:hover {
  background-color: rgb(235, 235, 235) !important;
}

.AwesomeIcon-search-wraper-2 {
  width: 48px;
  height: 48px;
  margin-right: 7px;
  background-color: #ff385c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.mid-menu-btn {
  background: none;
  color: #484848;
}

.search-btn:hover {
  box-shadow: -2px 2px 4px 0 rgba(83, 83, 83, 0.3);
  cursor: pointer;
}

.search-btn-width {
  width: 128px;
  border-radius: 25px !important;
  background-image: radial-gradient(
    circle at center center,
    rgb(255, 56, 92) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  ) !important;
  background-size: 200% 200% !important;
  /* background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%); */
}
