@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.flex-row-space-btw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-hover:hover {
  box-shadow: -2px 2px 4px 0 rgba(83, 83, 83, 0.3);
}

.button-background-clear {
  background: none;
}

.button-background-clear:hover {
  background: fixed;
  background-color: rgba(175, 175, 175, 0.3);
}
body {
  background-color: rgb(190, 190, 190);
  margin: 0px !important;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}
button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}
